<MudChip class="absolute right-px top-[8px]" Color="Color.Primary">
    <div class="flex items-center gap-2">
        <MudImage Src=@Image Height="24" Width="24" />
        <MudText>@Name</MudText>
    </div>
</MudChip>
