@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace TeddySwap.UI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en"
    class="bg-gradient-to-t from-sky-900/50 to-cyan-800 w-[100vw] h-[100vh] overflow-y-auto overflow-x-hidden">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    @* <link href="TeddySwap.UI.styles.css" rel="stylesheet" /> *@
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="dist/app.bundle.css" rel="stylesheet" />
    <script type="text/javascript" src="dist/app.bundle.js"></script>
    <script type="text/javascript">
        let isStarted = false;
        window.onload = startBlazor;
        document.onreadystatechange = () => {
            if (document.readyState == "complete") {
                startBlazor();
            }
        }

        async function startBlazor() {
            if (!isStarted) {
                isStarted = true;
                window.Blazor.start().then(() => {
                    Blazor.defaultReconnectionHandler._reconnectCallback = function (d) {
                        document.location.reload();
                    }
                });
            }
        }
    </script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body
    class="bg-gradient-to-t from-sky-900/50 to-cyan-800 w-[100vw] pb-[200px] md:pb-[450px] xl:pb-[300px] 2xl:pb-[600px] overflow-y-auto overflow-x-hidden relative">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    @* <div id="blazor-error-ui">
    <environment include="Staging,Production">
    An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
    An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
    </div> *@

    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KGPCGFP94X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KGPCGFP94X');
    </script>
</body>

</html>
