@page "/Staking"

<PageTitle>TeddySwap | Cardano | Staking Center</PageTitle>

<div class="flex gap-4">
    <DashboardMenu />
    <div Class="grow p-6">
        <MudText Typo="Typo.h6" Class="!hidden md:!block">Rewards</MudText>
    </div>
</div>