@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="IsDarkMode" Theme="Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="flex flex-col justify-center items-center lg:items-end lg:mr-[34px] xxl:items-center">
  @Body

</div>