@inherits LayoutComponentBase

<MudThemeProvider Theme="Theme" IsDarkMode="IsDarkMode"/>
<MudDialogProvider />
<MudSnackbarProvider />

<div class="relative w-full min-h-[100vh] bg-[#131529] ">
    <Header WalletAddress="@_walletAddress2" />

    <div class="lg:hidden">
        <MenuDrawer WalletAddress="@_walletAddress" />
    </div>

    <Sidebar />

    <main class="pt-[80.5px] w-[calc(100vw-260px)] ml-[260px]">
        <div class="flex flex-col justify-center items-center lg:items-end xxl:items-center">
            @Body
        </div>
    </main>
</div>