@inherits LayoutComponentBase

<MudThemeProvider Theme="Theme" IsDarkMode="IsDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

@* #131529 *@
<div class="relative w-full min-h-[100vh] @LightModeBackgroundClass">
    <div class="@BackgroundClass">
        <div class="absolute right-0 top-0 w-[35vh] h-[35vh] rounded-full blur-[350px] bg-primary border-2"></div>
        <div class=" absolute top-0 left-0 w-[35vh] h-[35vh] rounded-full blur-[350px] bg-secondary border-2"></div>
        <div class="absolute right-0 bottom-0 w-[35vh] h-[35vh] rounded-full blur-[350px] bg-primary border-2"></div>
        <div class=" absolute left-0 bottom-0 w-[35vh] h-[35vh] rounded-full blur-[350px] bg-secondary border-2"></div>
         <div class="absolute right-[50vw] top-[50vh] w-[35vh] h-[35vh] rounded-full blur-[350px] bg-primary border-2"></div>
        <div class=" absolute left-[50vw] bottom-[50vh] w-[35vh] h-[35vh] rounded-full blur-[350px] bg-secondary border-2"></div>
    </div>


    <CascadingValue Value="IsDarkMode">
        <Header WalletAddress="@_walletAddress2" />
    </CascadingValue>

    <div class="lg:hidden">
        <MenuDrawer WalletAddress="@_walletAddress" />
    </div>

    <Sidebar />

    <main class="pt-[80.5px] lg:w-[calc(100vw-260px)] lg:ml-[260px]  grid place-content-stretch">
        @Body
    </main>
    @* flex flex-col justify-center items-center lg:items-end xxl:items-center border-2 border-secondary *@
</div>
