@inherits LayoutComponentBase

<MudThemeProvider Theme="Theme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<div class="relative h-screen w-full bg-[#131529] ">
    <Header WalletAddress="@_walletAddress2" />
        
    <div class="lg:hidden">
        <MenuDrawer WalletAddress="@_walletAddress" />
    </div>

    <div class="hidden lg:block absolute top-[20px] left-0 bottom-[20px]">
        <Sidebar />
    </div>

    <main class="pt-16 w-full">
        <div class="flex flex-col justify-center items-center lg:items-end xxl:items-center">
            @Body
        </div>
    </main>
</div>