@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="h-screen w-full bg-[#131529] grid place-content-center">
    <Header WalletAddress="@_walletAddress2" />
        
    <MenuDrawer WalletAddress="@_walletAddress" />

    <div class="hidden lg:block absolute top-[20px] left-0 bottom-[20px]">
        <Sidebar />
    </div>

    <main>@Body</main>
</div>
