@inherits LayoutComponentBase

<MudThemeProvider Theme="Theme"/>
<MudDialogProvider />
<MudSnackbarProvider />
@* bg-[#131529]  *@

<div class="h-screen w-full grid place-content-center">
    <Header WalletAddress="@_walletAddress2" />
        
    <div class="lg:hidden">
        <MenuDrawer WalletAddress="@_walletAddress" />
    </div>

    <div class="hidden lg:block absolute top-[20px] left-0 bottom-[20px]">
        <Sidebar />
    </div>

    <main class="">
        @Body
    </main>
</div>