@inherits ConclaveComponentBase

<MudPaper Class="relative lg:hidden" Elevation="1">
    <MudDrawer Style="position: fixed;" Class="xm:!max-w-fit px-[18px]" Width="100%" Height="100%"
        Anchor="Anchor.End" Variant="DrawerVariant.Temporary" @bind-Open="@IsDrawerOpen">
        <div class="w-full max-w-[320px] mx-auto mt-[90px]">
            <div>
                <MudButton FullWidth="true" Class="peer !py-[9px] !px-[18px] !rounded-[38px] !border-[1px] !border-[#ffffff1a] !border-solid address-btn-bg">
                    <div class="flex items-center gap-4">
                        <MudImage Src="images/nami.svg" Alt="Nami logo" />
                        <span class="lowercase font-normal text-info-darken">@WalletAddress</span>
                    </div>
                </MudButton>
            </div>
    
            <CascadingValue Value="IsDarkMode">
                <ConnectedWalletMenu AdaBalance="1000" CnclvBalance="5000" />
            </CascadingValue>
    
            <NavMenu />

            <div class="w-full flex gap-3 items-center mt-10 justify-between py-2 px-4">
                <MudLink Href="/" Target="_blank">
                    <MudImage Src="images/facebook.svg" Alt="Facebook logo" />
                </MudLink>
                <MudLink Href="/" Target="_blank">
                    <MudImage Src="images/twitter.svg" Alt="Twitter logo" />
                </MudLink>
                <MudLink Href="/" Target="_blank">
                    <MudImage Src="images/telegram.svg" Alt="Telegram logo" />
                </MudLink>
                <MudLink Href="/" Target="_blank">
                    <MudImage Src="images/discord.svg" Alt="Discord logo" />
                </MudLink>
            </div>
        </div>
    </MudDrawer>
</MudPaper>
