@using Conclave.Dashboard.Web.Services
@using Conclave.Dashboard.Web.Components
@inject ConclaveIconsService ConclaveIcons

<div class="hidden lg:block fixed left-0 h-[calc(100vh-20px)] top-[10px] backdrop-blur-3xl z-[100]">
    <MudPaper Height="100%" Width="260px"
        Class="!bg-transparent relative pt-[80.5px] rounded-tr-xl rounded-br-xl"
        Elevation="4">
        <div class="nav-menu h-full w-full pt-[0px] ">
            <NavMenu />
        </div>

         <div class="w-full flex gap-5 items-center justify-center absolute left-0 right-0 bottom-[22px]">
            <MudLink Href="#" Target="_blank">
                <MudIcon Icon="@Icons.Custom.Brands.Facebook" Class="text-subtext transition-all duration-[5000ms] hover:text-info-darken" />
            </MudLink>
            <MudLink Href="#" Target="_blank">
                <MudIcon Icon="@Icons.Custom.Brands.Twitter" Class="text-subtext transition-all duration-300 hover:text-info-darken" />
            </MudLink>
            <MudLink Href="#" Target="_blank">
                <MudIcon Icon="@Icons.Custom.Brands.Telegram" Class="text-subtext transition-all duration-300 hover:text-info-darken" />
            </MudLink>
            <MudLink Href="#" Target="_blank">
                <MudIcon Icon="@Icons.Custom.Brands.Discord" Class="text-subtext transition-all duration-300 hover:text-info-darken" />
            </MudLink>
        </div>
    </MudPaper>
</div>
