@using Conclave.Dashboard.Web.Services
@using Conclave.Dashboard.Web.Components
@inject ConclaveIconsService ConclaveIcons

<div class="hidden lg:block fixed left-0 h-[calc(100vh-20px)] top-[10px] backdrop-blur-3xl">
    <MudPaper Height="100%" Width="260px"
        Class="!bg-transparent relative pt-[80.5px] outline outline-1 outline-[##ffffff1a] rounded-tr-xl rounded-br-xl"
        Elevation="4">
        <div class="nav-menu h-full w-full pt-[0px] ">
            <NavMenu />
        </div>
        <div class="w-full flex gap-4 items-center justify-center absolute left-0 right-0 bottom-[15px]">
            <MudLink Href="/" Target="_blank" Class="subtext">
                <MudImage Src="images/facebook.svg" Alt="Facebook logo" />
            </MudLink>
            <MudLink Href="/" Target="_blank" Class="subtext">
                <MudImage Src="images/twitter.svg" Alt="Twitter logo" />
            </MudLink>
            <MudLink Href="/" Target="_blank" Class="subtext">
                <MudImage Src="images/telegram.svg" Alt="Telegram logo" />
            </MudLink>
            <MudLink Href="/" Target="_blank" Class="subtext">
                <MudImage Src="images/discord.svg" Alt="Discord logo" />
            </MudLink>
        </div>
    </MudPaper>
</div>
