@tailwind base;
@tailwind components;
@tailwind utilities;

body:has(.mud-drawer--open) {
    height: 100vh;
}

.nft-rarity {
    height: 42px;
    width: 42px;
    font-weight: 600;
}

.mud-drawer.mud-drawer--open {
    position: fixed;
}

.mud-table-toolbar {
    padding: 0px !important;
}

.mud-paper {
    backdrop-filter: blur(24px) !important;
}

.mud-dialog {
    background-color: var(--mud-palette-drawer-background);
}

.mud-nav-link {
    font-weight: bold;
}

#leaderboard-tabs .mud-tabs-toolbar {
    background: transparent !important;
}

#leaderboard-tabs .mud-tabs-toolbar-wrapper {
    background-color: var(--mud-palette-surface);
    border-radius: var(--mud-default-borderradius);
    backdrop-filter: blur(24px) !important;
    overflow: hidden;
}

#leaderboard-tabs .mud-tab-active {
    background-color: var(--mud-palette-secondary);
    color: var(--mud-palette-text-primary);
}

#leaderboard-tabs .mud-tab {
    text-transform: none;
    font-weight: bold;
}

#leaderboard-tabs .mud-table-container {
    padding: 12px;
}

#leaderboard-tabs .mud-table-pagination-toolbar {
    background-color: var(--mud-palette-background-grey);
}

#leaderboard-search .mud-icon-default {
    color: var(--mud-palette-text-primary) !important;
}

#leaderboard-search ::placeholder {
    opacity: 1;
}

#wallet-list .mud-list-item-clickable {
    background-color: var(--mud-palette-surface);
    border-radius: var(--mud-default-borderradius);
    backdrop-filter: blur(24px) !important;
}

@media (max-width: 768px) {
    #leaderboard-tabs .mud-tabs-toolbar-inner {
        flex-direction: column;
        gap: 20px;
    }

    #leaderboard-tabs .mud-tabs-scroll-button {
        display: none !important;
    }

    #leaderboard-tabs .mud-tabs-header {
        flex-grow: 1;
        text-align: center;
        width: 100%;
        display: block;
    }
}
