<MudPaper Class="dialog-bg !text-white py-[10px] px-[18px] mt-5" Width="100">
    <h4 class="text-info-darken">Pending rewards</h4>
    <div class="flex flex-col gap-3 mt-3">
        <div class="flex items-center gap-[12px]">
            <MudImage Src="@CardanoLogo" Alt="Cardano logo" Width="30" />
            <div class="text-info-darken">ADA @AdaBalance</div>
        </div>
        <div class="flex items-center gap-[12px]">
            <MudImage Src="@ConclaveLogo" Alt="Conclave logo" Width="30" />
            <div class="text-info-darken">CNCLV @CnclvBalance</div>
        </div>
    </div>
    <div class="flex flex-col gap-3 mt-3">
        <MudButton Class="!text-white !rounded-[43px] !normal-case !border !border-solid !border-[#ffffff4d] !bg-transparent !opacity-50">
            Withdraw
        </MudButton>
        <MudButton OnClick="OnDisconnectBtnClicked" Class="!text-white !rounded-[43px] !normal-case !border !border-solid !border-[#ffffff4d] !bg-[#893240]">
            Disconnect
        </MudButton>
    </div>
</MudPaper>
