@using Conclave.Dashboard.Web.Services
@inject ConclaveIconsService ConclaveIcons

<MudNavMenu class="h-full w-full group" id="nav-menu">
    <MudNavLink Href="/staking">
        <div class="relative flex gap-[17px] py-[17px] pl-[29px] group">
            <div id="nav-link-bg" class="absolute top-0 left-0 right-0 bottom-0 bg-nav-link-gradient duration-300 opacity-0 hover:opacity-100">
                <div class="absolute left-0 top-0 bottom-0 w-[7px] mud-info"></div>
            </div>
            <MudIcon Icon="@ConclaveIcons.Staking" Class="text-info-darken" />
            <div class="text-info-darken font-normal">Staking Center</div>
        </div>
    </MudNavLink>
    <MudNavLink Href="/lottery">
        <div class="relative flex gap-[17px] py-[17px] pl-[29px] group">
            <div id="nav-link-bg" class="absolute top-0 left-0 right-0 bottom-0 bg-nav-link-gradient duration-300 opacity-0 hover:opacity-100">
                <div class="absolute left-0 top-0 bottom-0 w-[7px] mud-info"></div>
            </div>
            <MudIcon Icon="@ConclaveIcons.Lottery" Class="text-info-darken" />
            <div class="text-info-darken font-normal">Lottery</div>
        </div>
    </MudNavLink>
    <MudNavLink Href="/oracle">
        <div class="relative flex gap-[17px] py-[17px] pl-[29px] group">
            <div id="nav-link-bg" class="absolute top-0 left-0 right-0 bottom-0 bg-nav-link-gradient duration-300 opacity-0 hover:opacity-100">
                <div class="absolute left-0 top-0 bottom-0 w-[7px] mud-info"></div>
            </div>
            <MudIcon Icon="@ConclaveIcons.Oracle" Class="text-info-darken" />
            <div class="text-info-darken font-normal">Oracle</div>
        </div>
    </MudNavLink>
</MudNavMenu>
