<div class="mx-2">
  <div class="flex flex-col items-center justify-between md:flex-row mb-6">
    @Title
    <div class="flex">
      @SearchBox
    </div>
  </div>
  @* grid place-content-center grid-cols-1 smtab:grid-cols-2 tab:grid-cols-3 lg:grid-cols-2 laptop:grid-cols-3 gap-2 gap-y-4 *@
  <div
    class="grid grid-cols-3 gap-0 border">
    @ChildContent
  </div>
  <div class="mt-6 lg:mt-5 text-right mb-[70px] md:mb-0">
    @Pagination
  </div>
</div>