<div class="relative h-[25px] w-[47px] rounded-[38px] outline outline-1 outline-red-900">
    <div class="rounded-full p-[3px] outline outline-1 outline-orange-700 absolute left-[2.5px] top-[2.5px]">
        <MudImage Src="images/moon.svg" Alt="Moon logo" />
    </div>
</div>
