@inherits ConclaveComponentBase

<MudButton OnClick="ToggleSwitch" Class="switch !border-solid !border-[2px] !top-[1.5px] !min-w-[47px] !w-[47px] !h-[25px] !rounded-[38px]">
        <div class="@(IsDarkMode ? "!bg-[#41fbfb1a]" : "bg-[#3d1a6e1a]") h-[16.5px] w-[16.5px] rounded-full flex items-center justify-center absolute left-[2.1px] top-[2.1px] duration-75 ease-linear @(IsDarkMode ? "" : "toggle-switch")">
            <MudImage Src="@(IsDarkMode ? "images/moon.svg" : "images/sun.svg")" Alt="@(IsDarkMode ? "moon icon" : "sun icon")" />
        </div>
</MudButton>
