<MudListItem OnClick="HandleItemClicked">
    <div class="flex items-center gap-6">
        <MudImage Class="rounded-full" Src=@Token.Logo Alt="Teddy swap logo" Height="32" Width="32" />
        <div class="w-full">
            <div class="flex justify-between items-center">
                <MudBadge Icon="@Icons.Material.Filled.Verified" Color="Color.Primary" BadgeClass="!absolute !inset-auto !right-[-24px] !top-[4px] token-name-badge">
                    <h4 class="text-[20px] font-semibold">@Token.Name</h4>
                </MudBadge>
                <span class="text-[16px] font-semibold">0</span>
            </div>
            <div class="text-[12px]">Lorem ipsum dolor sit amet consectetur.</div>
        </div>
    </div>
</MudListItem>
