<MudChip
    OnClick="OpenSelectTokenDialog"
    Class="absolute"
    Color="Color.Primary"
    Style="right: 1px; top: 8px"
>
    <div class="flex items-center gap-2">
        <MudImage Src=@_currentlySelectedToken.Logo Height="24" Width="24" />
        <MudText>@_currentlySelectedToken.Name</MudText>
    </div>
</MudChip>
