<MudListItem OnClick="HandleItemClicked">
    <div class="flex items-center gap-6">
        <div>
            <MudImage Src=@Token.Logo Alt="Teddy swap logo" Height="32" Width="32" />
        </div>
        <div class="flex w-full">
            <div class="flex flex-col">
                <h4 class="text-[20px]" style="font-weight: 600;">@Token.Name</h4>
                <span class="text-[12px]">@Token.Name</span>
            </div>
    
            <div class="flex flex-col w-full justify-end text-right">
                <span class="text-[16px]" style="font-weight: 600;">0</span>
                <span class="text-[12px]">~</span>
            </div>
        </div>
    </div>
</MudListItem>
