<div class="absolute right-[-22px] top-[3px] flex">
    <MudIcon Class="peer w-[14px] h-[14px] ml-1" Icon=@Icon Color="Color.Default" Size="Size.Small" />
    <span class="relative bottom-[4px] left-[2px] @(ColonVisible ? "block" : "hidden")">:</span>
    <div class="absolute peer cursor-pointer top-[-7px] h-[25px] w-[46px]"></div>
    <div class="z-[100] hidden opacity-0 bg-[var(--mud-palette-surface)] backdrop-blur-[100px] text-[var(--mud-palette-dark-text)] peer-hover:block hover:block peer-hover:opacity-100 hover:opacity-100 w-[200px] absolute top-[-35px] left-[31px] text-[10px] px-[8px] py-[4px] rounded-[6px]">
        <MudText Typo="Typo.caption">
            @ChildContent
        </MudText>
    </div>
</div>
