@page "/"

@using Conclave.Dashboard.Web.Services
@inject ConclaveIconsService ConclaveIcons

<PageTitle>Index</PageTitle>

<div class="w-fit m-auto font-bold text-[100px] mud-text-primary">Hello World!</div>
