@page "/"

@using Conclave.Dashboard.Web.Services
@inject ConclaveIconsService ConclaveIcons

<PageTitle>Index</PageTitle>

<div class="w-fit m-auto font-bold text-[100px] mud-text-primary">Hello World!</div>

<div class="absolute top-0 bottom-0 left-0 w-[300px] flex flex-col justify-around">
    <div class="bg-red-800 blur-[10px] h-[200px] w-[200px] rounded-full"></div>
    <div class="bg-orange-800 blur-[10px] h-[200px] w-[200px] rounded-full"></div>
    <div class="bg-lime-600 blur-[10px] h-[200px] w-[200px] rounded-full"></div>
</div>

@* <div class="bg-lime-600 blur-[10px] h-[200px] w-[200px] rounded-full absolute top-0 right-0"></div> *@

<div class="absolute top-0 right-[50px] w-[300px]">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, sit repellat. Earum voluptatibus, voluptate laborum obcaecati ipsa atque voluptatum deserunt adipisci saepe hic recusandae ut commodi porro suscipit minima expedita sunt cupiditate praesentium placeat ratione. Tempore minus dolores maxime vero. Inventore, ullam laboriosam molestias consequuntur aliquam voluptatum non beatae exercitationem!
</div>
