@page "/"
@using Conclave.Dashboard.Web.Components

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudButton>Hello World</MudButton>

<MudToggleIconButton @bind-Toggled="IsDarkMode" Icon="Icons.Material.Filled.AlarmOff" Color="Color.Success" Title="Off"
    ToggledIcon="Icons.Material.Filled.AlarmOn" ToggledColor="Color.Success" ToggledTitle="On" />

@IsDarkMode <br />

<div class="ml-7">
    <PoolCards />

</div>