@page "/pools"
@using Conclave.Dashboard.Web.Components;

<PageTitle>Pools</PageTitle>

<h1>Hello, world!</h1>

Light / Dark mode

<MudSwitch @bind-Checked="@IsDarkMode" Color="Color.Primary" />

@* flex flex-col lg:flex-row justify-center lg:justify-end lg:items-end items-center *@
<div class="max-w-[1102px] mx-4">
  <div class="my-4">
    <h1 class="text-base mb-4">Conclave Pools (Bonus Reward)</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 mx-2">
      @foreach (var item in PoolsList)
      {
        <PoolCards PoolDetails="item" />
      }
    </div>
    <div class="mt-6 lg:mt-5 text-right mb-[70px] md:mb-0">
      <MudPagination Rectangular="true" Variant="Variant.Filled" BoundaryCount="1" MiddleCount="1"
        Count="4" Color="Color.Surface"/>
    </div>
  </div>

  <div class="my-4">
    <div class="flex flex-col items-start justify-between md:flex-row mb-6">
      <h1 class="text-base mb-4">Other Pools (Bonus Reward)</h1>
      <div>
        <MudTextField @bind-Value="Search" Variant="Variant.Outlined" Adornment="Adornment.Start"
          AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Secondary" Class="rounded-xl"
          Placeholder="Search by Pool ID, Ticker Symbol" Style="width: 303px" />
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 mx-2">
      @foreach (var item in PoolsList)
      {
        <PoolCards PoolDetails="item" />
      }
    </div>
    <div class="mt-6 lg:mt-5 text-right">
      <MudPagination Rectangular="true" Variant="Variant.Filled" Color="Color.Info" BoundaryCount="1" MiddleCount="1"
        Count="4" />
    </div>
  </div>
</div>
