@page "/pools"
@using Conclave.Dashboard.Web.Components;

<PageTitle>Pools</PageTitle>

<div class="w-full">
  <PoolCardList PageCount="ConclavePagination">
    <Title>
      <h1 class="text-base mb-4">Other Pools (Bonus Reward)</h1>
    </Title>
    <ChildContent>
     @foreach (var item in ConclavePoolsList)
      {
      <PoolCards PoolDetails="item" IsDarkMode="IsDarkMode" />
      } 
    </ChildContent>
  </PoolCardList>

  <PoolCardList PageCount="OtherPoolsPagination">
    <Title>
      <h1 class="text-base mb-4">Other Pools (Bonus Reward)</h1>
    </Title>
    <SearchBox>
      <MudTextField @bind-Value="Search" Variant="Variant.Outlined" Adornment="Adornment.Start"
        AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Secondary" Class="rounded-xl"
        Placeholder="Search by Pool ID, Ticker Symbol" Style="width: 303px" OnKeyUp="OnKeyPressed" />
    </SearchBox>
    <ChildContent>
     @foreach (var item in OtherPoolsList)
      {
        <PoolCards PoolDetails="item" IsDarkMode="IsDarkMode" />
      } 
    </ChildContent>
  </PoolCardList>
</div>
