@page "/pools"
@using Conclave.Dashboard.Web.Components

<PageTitle>Pools</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudSwitch @bind-Checked="@IsDarkMode" Color="Color.Primary" />

<div class="m-7">
  <PoolCards IsConclavePool="true" />
  <PoolCards IsConclavePool="false" />

</div>