@page "/pools"
@using Conclave.Dashboard.Web.Components;

<PageTitle>Pools</PageTitle>

<div class="">
  <div class="">
  <PoolCardList>
    <Title>
      <h1 class="text-base mb-4">Conclave Pools (Bonus Reward)</h1>
    </Title>
    <ChildContent>
      @foreach (var item in ConclavePoolsList)
      {
        <PoolCards PoolDetails="item" IsDarkMode="IsDarkMode" />
      }
    </ChildContent>
     <Pagination>
      <MudPagination Rectangular="true" Variant="Variant.Text" BoundaryCount="1" MiddleCount="1"
        Count="ConclavePagination" Color="Color.Surface" DisableElevation="true" SelectedChanged="(page) => OnPageChanged(page, true)" />
    </Pagination>
  </PoolCardList>

  <PoolCardList>
    <Title>
      <h1 class="text-base mb-4">Other Pools (Bonus Reward)</h1>
    </Title>
    <SearchBox>
      <MudTextField @bind-Value="Search" Variant="Variant.Outlined" Adornment="Adornment.Start"
        AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Secondary" Class="rounded-xl"
        Placeholder="Search by Pool ID, Ticker Symbol" Style="width: 303px" OnKeyUp="OnKeyPressed" />
    </SearchBox>
    <ChildContent>
      @foreach (var item in OtherPoolsList)
      {
        <PoolCards PoolDetails="item" IsDarkMode="IsDarkMode" />
      }
    </ChildContent>
    <Pagination>
      <MudPagination Rectangular="true" Variant="Variant.Text" BoundaryCount="1" MiddleCount="1"
        Count="OtherPoolsPagination" Color="Color.Surface" DisableElevation="true" SelectedChanged="(page) => OnPageChanged(page, false)" />
    </Pagination>
  </PoolCardList>
  </div>
</div>
