@page "/pools"
@using Conclave.Dashboard.Web.Components

<PageTitle>Pools</PageTitle>

<h1>Hello, world!</h1>

Light / Dark mode

<MudSwitch @bind-Checked="@IsDarkMode" Color="Color.Primary" />

<div class="flex m-7">
  @foreach (var item in PoolsList)
  {
    <PoolCards PoolDetails="item" />
  }
</div>

<MudPagination Rectangular="true" Variant="Variant.Filled" Count="6" Color="Color.Info" />